.Footer {
  padding: 25px;
  background-color: rgb(0, 85, 81);
  color: #fff;
  text-align: right;
  h5 {
    white-space: nowrap;
    display: inline-flex;
  }
  a {
    margin-left: 2px;
    color: rgb(64, 148, 226);
  }
}

.heart_symb {
  margin: 0 4px;
  &:after {
    margin: 0 4px;
    content: '❤️';
    display: block;
    position: relative;
  }
}